header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 10px 14px;
}
*{ /*Universal*/
    margin: 100; /*margem*/
    
    
}
img{
    height: 100px;  /*altura*/
}
a{
    text-decoration: none; /*tirar decoração do texto*/
     color: #1f1f1f; /*cor do texto*/
     font-size: 13px; /*tamanho da fonte*/
     font-family: sans-serif; /*tipo/familia*/
     
}
.botao-login{
    background-color: #1a73e8;
    color: white;
    padding: 13px 12px;
    font-family:sans-serif ;
    border-radius: 40px;
}
.icone-produtos{
    width:24px ; /*largura*/
    fill: #444746; /*cor preenchimento*/

}
footer{
    background-color: #f2f2f2;
}
.caixa-rodape{
    padding: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.caixa-rodape--borda{
    border-bottom: 1px solid #dadce0
}
.caixa-links{
    display: flex;
    gap: 30px;
}